/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//variables
$font-stack: Roboto, sans-serif;
$color-primary: #fdfdfd; //white
$cta-color: #0097d9; //btn blue
$color-default: #2b2b2b; //dark gray
$color-gry: #747475; // gray
$color-lgt: #929292; //light gray
$font-34: 34px;
$font-17: 17.5px;
$color-black: #1e1e1e; //blacks
$color-body: #424242; //body text

body {
	font: 100% $font-stack;
}
.container {
	background-image: url(../assets/main-banner.jpg) !important;
	height:933px;
	background-size: cover;
	background-repeat: no-repeat;
}
nav {
	background-color: $color-default;
	opacity: 1;
	height: auto;
	.logo {
			width: 52px;
			height:23px;
			padding:20px;
			float: left !important;
    		display: block;
			}
	.top-menu {
		background-color: rgba(43,43,43,0.7);
		padding:20px;
		height: 30px;
	   li {
	   	display:inline-block;
	   	float:right;
		   	a {
		   	font-weight: bolder;
		   	letter-spacing: 1px;
		   	color: $color-primary;
		   	font-size:13px;
		   	text-transform: uppercase;
		   	text-decoration:none;
		   	padding-left:20px;
		   	}
	   }
	}
	.sub-menu {
		padding:20px;
		height:20px;
		font-weight:lighter;
	 	background-color: rgba(251,249,247, 0.8);
		clear:both;
		border-bottom: 1px solid #929292;
			 h1.sub-menu-header {
				float:left;
				font-weight: bold;
				font-size: $font-17;
				a {
					text-decoration: none;
					}
				}
		li {
		float:right;
		padding-left:20px;
		display:inline-block;
			a {
			 letter-spacing: 1px;
			 color: #929292;
			 font-size:12px;
		   	 text-transform: uppercase;
		   	  text-decoration:none;
		   	  &:hover {
		   	  	font-weight:bold;
		   	  	color:#424242;
		   	  	text-decoration:underline;
		   	  }
			}
		}
	}
	header {
	    max-width: 620px;
	    position: relative;
	    margin: 420px 250px auto;
		h1 {
			font-weight: lighter;
			font-size:52px;
			line-height: 44px;
			text-transform: uppercase;
			color:$color-primary;
		}
		p {
			margin-top:20px;
			color: $color-primary;
			font-weight: normal;
			font-size: $font-17;
		}
	}
}
section {
	max-width: 1100px;
    margin: 0 auto;
	h1 {
		text-align: center;
		padding:20px;
		font-size:$font-34;
	}
	p {
		font-size: $font-17;
		color:$color-body;
		text-align: center;
		line-height: 22px;
	}
	button {
		text-align: center;
	    margin: 500px auto 20px;
	    display: block;
	    min-width: 250px;
	}
}
.quote {
		height: 100px;
		clear:both;
		padding:40px;
		background-color:$color-black;
		section  {
			margin: 20px auto 20px;
			blockquote {
				margin: 0 auto;
				max-width: 800px;
				color: $color-primary;
				span {
					margin-top:15px;
					color: $cta-color;
					font-family: 'Georgia', san-serif;
					font-size:18px;
					display: block;
					text-align: right;
				}
			&:before {
				 background-image: url(../assets/quote.png);
				 display: block;
				}
			}
		}
	}
.call-out {
	margin: 20px auto;
	max-width: 870px;
	padding:20px;
	span {
	  padding-right:20px;
	  font-size: $font-34;
	}
	button {
		min-width: 250px;
	}
}

//Buttons
button {
	color: $color-primary;
	text-transform: uppercase;
	background-color:$cta-color;
	border:none;
	border-radius: none;
	padding:20px;
	font-size: $font-17;
}
.tiles {
	ul {
		margin-bottom: 20px;
		clear:both;
		li {
		margin: 20px 10px;
		float: left;
	    display: inline-block;
		}
	}
}

.tile {
	h2 {
		font-weight: bold;
		font-size:16px;
		color:$color-body;
	}
	i {
		font-family: 'Georgia', san-serif;
		color: $color-lgt;
		font-size:12px;
	 	font-style: italic;
	}
}

footer {
	background-color: $color-default;
	background-image: url(../assets/footer-bg.png);
	background-repeat: repeat;
	height: 40px;
	padding:20px;
	color:$color-gry;
	font-size: 10px;
	font-weight: bold;
	ul {
		padding:20px;
		float:left;
		li {
	    padding:0 7px;
		display:inline-block;
		 a {
		 	color:$color-gry;
			font-size: 10px;
			font-weight: bold;
			text-decoration: none;
			i {
				font-size: 12px;
			}
		 }
		}
	}
	ul.copyright {
			float:right;
		}
	}

