/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//variables
$font-stack: Roboto, sans-serif;
$color-primary: #fdfdfd; //white
$cta-color: #0097d9; //btn blue
$color-default: #2b2b2b; //dark gray
$color-gry: #747475; // gray
$color-lgt: #929292; //light gray
$font-34: 34px;
$font-17: 17.5px;
$color-black: #1e1e1e; //blacks
$color-body: #424242; //body text

//bootstrap override
* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body {
	font: 100% $font-stack;
}
a:focus, a:hover {
	color: inherit;
}
.ifit-container {
	background-image: url(../assets/main-banner.jpg) !important;
	height:933px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
	background-color: $color-default;
	opacity: 1;
	height: auto;
	.fixed-nav {
		position:fixed;
		width:100%;
		top: 0;
    	z-index: 2;
	}
	.logo {
			width: 52px;
			height:23px;
			padding:20px;
			float: left !important;
    		display: block;
			}
	.top-menu {
		background-color: rgba(43,43,43,0.7);
		padding:20px;
		height: 30px;
	   li {
	   	display:inline-block;
	   	float:right;
		   	a {
		   	font-weight: bolder;
		   	letter-spacing: 1px;
		   	color: $color-primary;
		   	font-size:13px;
		   	text-transform: uppercase;
		   	text-decoration:none;
		   	padding-left:20px;
		   	}
	   }
	}
	.sub-menu {
		padding:20px;
		height:20px;
		font-weight:lighter;
	 	background-color: rgba(251,249,247, 0.8);
		clear:both;
		border-bottom: 1px solid #929292;
			 h1.sub-menu-header {
				float:left;
				font-weight: bold;
				font-size: $font-17;
				a {
					color: inherit;
					text-decoration: none;
					}
				}
		li {
		float:right;
		padding-left:20px;
		display:inline-block;
			a {
			 letter-spacing: 1px;
			 color: #929292;
			 font-size:12px;
		   	 text-transform: uppercase;
		   	  text-decoration:none;
		   	  &:hover {
		   	  	font-weight:bold;
		   	  	color:#424242;
		   	  	text-decoration:underline;
		   	  }
			}
		}
	}
	header {
	    max-width: 620px;
	    position: relative;
	    margin: 0px 250px auto;
		h1 {
			padding-top:420px;
			font-weight: lighter;
			font-size:52px;
			line-height: 44px;
			text-transform: uppercase;
			color:$color-primary;
		}
		p {
			margin-top:20px;
			color: $color-primary;
			font-weight: normal;
			font-size: $font-17;
		}
	}
}
section {
	max-width: 1050px;
    margin: 0 auto;
	h1 {
		text-align: center;
		padding:20px;
		font-size:$font-34;
	}
	p {
		font-size: $font-17;
		color:$color-body;
		text-align: center;
		line-height: 22px;
	}
	button {
		text-align: center;
	    margin: 500px auto 75px;
	    display: block;
	    min-width: 250px;
	}
}
.quote {
		height: 275px;
		clear:both;
		padding:40px;
		background-color:$color-black;
		section  {
			margin-top: 57px;
			blockquote {
				 margin: 0 auto;
				 max-width: 100%;
				 background-image: url(../assets/quote.png);  
				 background-position: top left;
				 background-repeat: no-repeat;
				 background-position: 0px 10px;
    			 padding: 1.5em 7em;
				p {
					color: $color-primary;
					line-height: 28px;
				}
				span {
					margin-top:45px;
					color: $cta-color;
					font-family: 'Georgia', sans-serif;
					font-size:18px;
					display: block;
					text-align: right;
					position: relative;
    				left: 4em;
				}
		}
	}
}
.call-out {
	margin: 0px auto;
	max-width: 63%;
	height:135px;
	span {
	  margin-top:36px;
	  padding-right:20px;
	  font-size: $font-34;
	  display: block;
	  float: left;
	  line-height: 1.75em;
	}
	button {
		margin-top:36px;
		min-width: 250px;
	}
}

//Buttons
button {
	color: $color-primary;
	text-transform: uppercase;
	background-color:$cta-color;
	border:none;
	border-radius: none;
	padding:20px;
	font-size: $font-17;
}
.tiles {
	ul {
		margin-bottom: 20px;
		clear:both;
		li {
		margin: 20px 10px;
		float: left;
	    display: inline-block;
	    img:hover {
			opacity: .7;
			transform: scale(0.9, 0.9);
			-ms-transform: scale(0.9, 0.9);
			-webkit-transform: scale(0.9, 0.9);
	    	}
	    	
		}
	}
}

.tile {
	h2 {
		font-weight: bold;
		font-size:16px;
		color:$color-body;
	}
	i {
		font-family: 'Georgia', sans-serif;
		color: $color-lgt;
		font-size:12px;
	 	font-style: italic;
	}
}

footer {
	background-color: $color-default;
	background-image: url(../assets/footer-bg.png);
	background-repeat: repeat;
	height: 48px;
	padding:20px;
	color:$color-gry;
	font-size: 10px;
	font-weight: bold;
	ul {
		padding:20px;
		float:left;
		li {
	    padding:0 7px;
		display:inline-block;
		 a {
		 	color:$color-gry;
			font-size: 10px;
			font-weight: bold;
			text-decoration: none;
			i {
				font-size: 12px;
			}
		 }
		}
	}
	ul.copyright {
			float:right;
		}
	}

	//animation

	.fading  {
	 opacity:0;
}

.continue {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.fa .fa-search {
	  transform: rotate(90deg);
	  animation: pulse 5s infinite;
}
.carousel-indicators .active {
	background-color: $cta-color;
}
.carousel-indicators li {
	border: 1px solid $cta-color;
}
