/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.3.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../sass/screen.scss */
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 27, ../sass/screen.scss */
body {
  font: 100% Roboto, sans-serif;
}

/* line 30, ../sass/screen.scss */
a:focus, a:hover {
  color: inherit;
}

/* line 33, ../sass/screen.scss */
.ifit-container {
  background-image: url(../assets/main-banner.jpg) !important;
  height: 933px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 41, ../sass/screen.scss */
nav {
  background-color: #2b2b2b;
  opacity: 1;
  height: auto;
}
/* line 45, ../sass/screen.scss */
nav .fixed-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
/* line 51, ../sass/screen.scss */
nav .logo {
  width: 52px;
  height: 23px;
  padding: 20px;
  float: left !important;
  display: block;
}
/* line 58, ../sass/screen.scss */
nav .top-menu {
  background-color: rgba(43, 43, 43, 0.7);
  padding: 20px;
  height: 30px;
}
/* line 62, ../sass/screen.scss */
nav .top-menu li {
  display: inline-block;
  float: right;
}
/* line 65, ../sass/screen.scss */
nav .top-menu li a {
  font-weight: bolder;
  letter-spacing: 1px;
  color: #fdfdfd;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 20px;
}
/* line 76, ../sass/screen.scss */
nav .sub-menu {
  padding: 20px;
  height: 20px;
  font-weight: lighter;
  background-color: rgba(251, 249, 247, 0.8);
  clear: both;
  border-bottom: 1px solid #929292;
}
/* line 83, ../sass/screen.scss */
nav .sub-menu h1.sub-menu-header {
  float: left;
  font-weight: bold;
  font-size: 17.5px;
}
/* line 87, ../sass/screen.scss */
nav .sub-menu h1.sub-menu-header a {
  color: inherit;
  text-decoration: none;
}
/* line 92, ../sass/screen.scss */
nav .sub-menu li {
  float: right;
  padding-left: 20px;
  display: inline-block;
}
/* line 96, ../sass/screen.scss */
nav .sub-menu li a {
  letter-spacing: 1px;
  color: #929292;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 102, ../sass/screen.scss */
nav .sub-menu li a:hover {
  font-weight: bold;
  color: #424242;
  text-decoration: underline;
}
/* line 110, ../sass/screen.scss */
nav header {
  max-width: 620px;
  position: relative;
  margin: 0px 250px auto;
}
/* line 114, ../sass/screen.scss */
nav header h1 {
  padding-top: 420px;
  font-weight: lighter;
  font-size: 52px;
  line-height: 44px;
  text-transform: uppercase;
  color: #fdfdfd;
}
/* line 122, ../sass/screen.scss */
nav header p {
  margin-top: 20px;
  color: #fdfdfd;
  font-weight: normal;
  font-size: 17.5px;
}

/* line 130, ../sass/screen.scss */
section {
  max-width: 1050px;
  margin: 0 auto;
}
/* line 133, ../sass/screen.scss */
section h1 {
  text-align: center;
  padding: 20px;
  font-size: 34px;
}
/* line 138, ../sass/screen.scss */
section p {
  font-size: 17.5px;
  color: #424242;
  text-align: center;
  line-height: 22px;
}
/* line 144, ../sass/screen.scss */
section button {
  text-align: center;
  margin: 500px auto 75px;
  display: block;
  min-width: 250px;
}

/* line 151, ../sass/screen.scss */
.quote {
  height: 275px;
  clear: both;
  padding: 40px;
  background-color: #1e1e1e;
}
/* line 156, ../sass/screen.scss */
.quote section {
  margin-top: 57px;
}
/* line 158, ../sass/screen.scss */
.quote section blockquote {
  margin: 0 auto;
  max-width: 100%;
  background-image: url(../assets/quote.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-position: 0px 10px;
  padding: 1.5em 7em;
}
/* line 166, ../sass/screen.scss */
.quote section blockquote p {
  color: #fdfdfd;
  line-height: 28px;
}
/* line 170, ../sass/screen.scss */
.quote section blockquote span {
  margin-top: 45px;
  color: #0097d9;
  font-family: 'Georgia', sans-serif;
  font-size: 18px;
  display: block;
  text-align: right;
  position: relative;
  left: 4em;
}

/* line 183, ../sass/screen.scss */
.call-out {
  margin: 0px auto;
  max-width: 63%;
  height: 135px;
}
/* line 187, ../sass/screen.scss */
.call-out span {
  margin-top: 36px;
  padding-right: 20px;
  font-size: 34px;
  display: block;
  float: left;
  line-height: 1.75em;
}
/* line 195, ../sass/screen.scss */
.call-out button {
  margin-top: 36px;
  min-width: 250px;
}

/* line 202, ../sass/screen.scss */
button {
  color: #fdfdfd;
  text-transform: uppercase;
  background-color: #0097d9;
  border: none;
  border-radius: none;
  padding: 20px;
  font-size: 17.5px;
}

/* line 212, ../sass/screen.scss */
.tiles ul {
  margin-bottom: 20px;
  clear: both;
}
/* line 215, ../sass/screen.scss */
.tiles ul li {
  margin: 20px 10px;
  float: left;
  display: inline-block;
}
/* line 219, ../sass/screen.scss */
.tiles ul li img:hover {
  opacity: .7;
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
}

/* line 231, ../sass/screen.scss */
.tile h2 {
  font-weight: bold;
  font-size: 16px;
  color: #424242;
}
/* line 236, ../sass/screen.scss */
.tile i {
  font-family: 'Georgia', sans-serif;
  color: #929292;
  font-size: 12px;
  font-style: italic;
}

/* line 244, ../sass/screen.scss */
footer {
  background-color: #2b2b2b;
  background-image: url(../assets/footer-bg.png);
  background-repeat: repeat;
  height: 48px;
  padding: 20px;
  color: #747475;
  font-size: 10px;
  font-weight: bold;
}
/* line 253, ../sass/screen.scss */
footer ul {
  padding: 20px;
  float: left;
}
/* line 256, ../sass/screen.scss */
footer ul li {
  padding: 0 7px;
  display: inline-block;
}
/* line 259, ../sass/screen.scss */
footer ul li a {
  color: #747475;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}
/* line 264, ../sass/screen.scss */
footer ul li a i {
  font-size: 12px;
}
/* line 270, ../sass/screen.scss */
footer ul.copyright {
  float: right;
}

/* line 277, ../sass/screen.scss */
.fading {
  opacity: 0;
}

/* line 281, ../sass/screen.scss */
.continue {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* line 287, ../sass/screen.scss */
.fa .fa-search {
  transform: rotate(90deg);
  animation: pulse 5s infinite;
}

/* line 291, ../sass/screen.scss */
.carousel-indicators .active {
  background-color: #0097d9;
}

/* line 294, ../sass/screen.scss */
.carousel-indicators li {
  border: 1px solid #0097d9;
}

/* line 297, ../sass/screen.scss */
.carousel-indicators {
  bottom: -50px;
}
